<ul>
<%= @events.each do |e| %>
<li>
<%= e.name %>
<%= link_to "show" ,event_path(e)%>	
<%= link_to "getj son",event_path(e,:format=>:json)  %>
<%= link_to "edit", edit_event_path(e)%>
<%= link_to "刪除",event_path(e),:method=>:delete  %>

</li>
<% end %>
</ul>
<%= link_to 'new event',:controller => 'events',:action =>'new' %>
<%= paginate @events %>